.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  padding: 15px;
  width: 300px;
  height: 400px;
  text-align: center;
}
.head{
  padding: 10px;
  text-align: center;
  background-color:slategray;

}
