/* .my-class{
  height:150px;
  margin: 10px;
  line-height: 22px;
}
.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  margin-left: 10px;
} */
/* old code */

.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #114a70;
}

.main-container .main-card{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container .main-card .logo img{
  height: 450px;
  width: 650px;
}

.main-container .main-card .upper-arrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 120px;
}

.main-container .main-card .upper-arrow img{
  height: 50px;
  width: 50px;
  margin-bottom: 45px;
  transform: rotate(180deg);
}

.line{
  width: 550px;
  border-bottom: 8px solid #f7b453;
}

.main-container .main-card .bottom-arrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.main-container .main-card .bottom-arrow img{
  height: 50px;
  width: 50px;
  margin-top: 45px;
}

.main-container .main-card .bottle-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.main-container .main-card .bottle-section .title{
  color: #ffffff;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: 12px;
  margin: 0 0 60px 0;
}

.main-container .main-card .bottle-section .bottle-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container .main-card .bottle-section .bottle-wrapper .img-button{
  cursor: pointer;
}
.main-container .main-card .bottle-section .bottle-wrapper .img-button img{
  width: 200px;
  margin: 0px 7px;
  height: auto;
}