<div class="container">
  <div class="row">
    <form>
    <div>
      <h4 class="header">
        Select your Drink
      </h4>
    </div>
    <div>
      <button mat-flat-button color="primary" class="my-class" (click)="callBootel1()">Bottel1</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel2()">Bottel2</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel3()">Bottel3</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel4()">Bottel4</button>
    </div>
  </form>
  </div>
</div>

