<!-- <mat-card class="lim-card">
  <img mat-card-image src="assets/img/logo-with-text.png" alt="Lim">
    <form>
    <div>
      <h4 class="header">
        Select your Drink
      </h4>
    </div>
    <div>
      <button mat-flat-button color="primary" class="my-class" (click)="callBootel1()">Bottel1</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel2()">Bottel2</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel3()">Bottel3</button>

      <button mat-flat-button color="primary" class="my-class" (click)="callBootel4()">Bottel4</button>
    </div>
  </form>
</mat-card> -->
<!-- old code -->
<div class="main-container">
  <div class="main-card">
    <div class="logo">
      <img src="assets/img/white-logo-with-text.png" alt="Lim">
    </div>
    <div class="content">
      <div class="upper-arrow">
        <img src="assets/img/white-arrow.png" alt="down-arrow">
        <div class="line"></div>
      </div>
      <div class="bottle-section">
        <h2 class="title">PICK YOUR FLAVOR!</h2>
        <div class="bottle-wrapper">
          <div class="img-button" matRipple [matRippleCentered]="'centered'" [matRippleUnbounded]="'unbounded'" [matRippleColor]="'rgba(255, 255, 255, 0.3)'" (click)="selectCane('lemon lime')">
            <img src="assets/img/flavor/lemon.png" alt="lemon lime">
          </div>
          <div class="img-button" matRipple [matRippleCentered]="'centered'" [matRippleUnbounded]="'unbounded'" [matRippleColor]="'rgba(255, 255, 255, 0.3)'" (click)="selectCane('strawberry')">
            <img src="assets/img/flavor/strawberry.png" alt="strawberry">
          </div>
          <div class="img-button" matRipple [matRippleCentered]="'centered'" [matRippleUnbounded]="'unbounded'" [matRippleColor]="'rgba(255, 255, 255, 0.3)'" (click)="selectCane('watermelon')">
            <img src="assets/img/flavor/watermelon.png" alt="watermelon">
          </div>
          <div class="img-button" matRipple [matRippleCentered]="'centered'" [matRippleUnbounded]="'unbounded'" [matRippleColor]="'rgba(255, 255, 255, 0.3)'" (click)="selectCane('grapefruit')">
            <img src="assets/img/flavor/grapefruit.png" alt="grapefruit">
          </div>
        </div>
      </div>
      <div class="bottom-arrow">
        <div class="line"></div>
        <img src="assets/img/white-arrow.png" alt="down-arrow">
      </div>
    </div>
  </div>
</div>