/* old css */
/* .main-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  padding-bottom: 20px;
}
.lim-card {
  width: 1080px;
  height: 1920px;
}
mat-form-field {
  width: 480px;
  margin-left: 300px;
}
.mat-card-image {
  height: 300px;
  width: 240px;
  margin-left: 420px;
}

mat-form-field label {
  font-size: 200px;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 13px;
} */

.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .main-card{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-container .main-card .logo img{
  margin-left: 10px;
  height: 400px;
  width: 400px;
}

.main-container .main-card .picker-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container .main-card .picker-container .left-arrow-container img, .main-container .main-card .picker-container .right-arrow-container img {
  height: 100px;
  width: 100px;
}

.main-container .main-card .picker-container .picker-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container .main-card .picker-container .picker-wrapper .error{
  font-size: 28px;
  text-align: center;
}

.main-container .main-card .picker-container .picker-wrapper .picker{
  width: 100%;
}

.main-container .main-card .picker-container .picker-wrapper .picker .date-input{
  border: 0;
  width: 100%;
  height: 95px;
  font-size: 92px;
  color: #114a70;
  text-align: center;
  font-weight: bold;
  border-bottom: 8px solid #f7b453;
  margin-top: 40px;
}

.main-container .main-card .picker-container .picker-wrapper .picker .error{
  border-bottom: 8px solid red;
}

.main-container .main-card .picker-container .picker-wrapper .picker .date-input::placeholder{
  font-size: 92px;
  color: #114a70;
  letter-spacing: 8px;
  font-weight: bold;
  text-align: center;
  position: relative;
  /* top: 10px; */
}

.main-container .main-card .picker-container .picker-wrapper .picker .date-input:focus{
  outline: 0;
}

.main-container .main-card .picker-container .picker-wrapper .picker-bottom-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container .main-card .picker-container .picker-wrapper .picker-bottom-label p {
  margin: 10px 0;
  color: #f7b453;
  font-size: 38px;
  font-weight: 500;
}

.main-container .main-card .picker-container .picker-wrapper .picker-bottom-label p.month{
  position: relative;
  left: 60px;
}

.main-container .main-card .picker-container .picker-wrapper .picker-bottom-label p.day{
  position: relative;
  right: 60px;
}

.main-container .main-card .picker-container .picker-wrapper .picker-bottom-label p.year{
  position: relative;
  right: 120px;
}

.main-container .main-card .picker-container .picker-wrapper .next-button-container{
  text-align: center;
  position: relative;
}
.main-container .main-card .picker-container .picker-wrapper .next-button-container button{
  background-color: #f7b453;
  color: #114a70;
  font-weight: bold;
}

.main-container .main-card .wave img{
  width: 500px;
}
.error {
  font-weight: bold;
}
