<div class="container">
  <div class="row">
    <form  [formGroup]="validatorForm">

      <div >
        <h1 class="header">
          Welcome to Limanado
        </h1>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Select your birth day!</mat-label>
          <input matInput
          [matDatepicker]="picker"
          formControlName="dob"
          [max]="today"
          required>
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="hasError('dob','required')">Date of birth is required</mat-error>
          <mat-error *ngIf="dob.errors?.age">
            Age should not be less than 18 years
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" *ngIf="dob.errors?.age===null">
          <mat-label>Enter Your Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter Your Name">
          <mat-error *ngIf="hasError('name','required')">Name is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary"(click)="btnClick();">Next</button>
      </div>
    </form>
  </div>

</div>


