<div class="main-div">
  <h1> Welcome to Limanado   </h1>

    <mat-form-field appearance="fill">
      <mat-label>Select your birth day!</mat-label>
      <input matInput [matDatepicker]="picker"
             (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [max]="today" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <div>
      <mat-form-field appearance="fill" *ngIf="isShow===true">
        <mat-label>Enter Your Name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="accent"(click)="btnClick();">Next</button>
    </mat-card-actions>

</div>


